.loginform{
    background-color: steelblue;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    border-radius: 5px;
    border: 1px solid lightslategrey;
    box-sizing: border-box;
}



.input{
    background-color: deepskyblue;
    border: 1px solid lightslategrey;
    width: 230px;
    outline-color: blue;
    outline: none;
    color: white;
}

.input:focus{
    border-color: blue;
}

.inputlbl{
    float: left;
    text-align: left;
    width: 250px;
    color: white;
}




.loginbtn{
    font-family: "Poor Story", cursive;
    width: 250px;
    background-color: #0ab804;
    height: 30px;
    text-align: center;
    line-height: 5px;
    font-size: 18px;
}

.loginbtn:hover{
    background-color: limegreen;
}

.loginfailedcontainer{
    border: 2px solid #a80017;
    margin-top: 15px;
    border-radius: 5px;
    background-color: rgba(255,0,0, .4);

}

.loginfailed{
    margin-left: 15px;
}

.closebtn{
    color: #ff0000;
    font-size: 20px;
    background: transparent;
    width: 10px;
    margin-left: 5px;
}

.closebtn:hover{
    color: #eb5959;
}

.errorlbl{
    color: white;
}